@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9fafb;
    font-family: 'Commissioner Variable', sans-serif;
}

.bg-app {
  background-image: url('/images/image-hero-mobile.jpg');
  box-shadow: inset 0 4rem 10rem 3rem #000000b0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

@media screen and (min-width: 431px) {
  .bg-app {
      background-image: url('/images/image-hero-desktop.jpg');
      height: 25rem;
      background-size: cover;
  }
}

/* Customize the label (the container) */
.container-checkbox  {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* Hide the browser's default checkbox */
.container-checkbox  .checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

  /* Custom checkbox */
.checkmark {
    position: absolute;
    border-radius: 50%;
    border: 1px solid lightgrey;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}

/* On mouse-over, add a cyan border*/
.container-checkbox:not(.disabled-cbx):hover .checkbox ~ .checkmark {
    border: 1px solid hsl(176, 50%, 47%);
    cursor: pointer;
}
  
  /* When the checkbox is checked, add a white background */
.container-checkbox .checkbox:checked ~ .checkmark {
    background-color: white;
}

  /* Create the checkmark (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
.container-checkbox .checkbox:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark (cyan dot) */
.container-checkbox .checkmark:after {
    border: 1px solid lightgrey;
    border-radius: 50%;
    left: .25rem;
    top: .25rem;
    width: .9rem;
    height: .9rem;
    background-color: #3cb4ac;
}

/* custom-underline navbar desktop */
.custom-underline {
  position: relative;
}

.custom-underline::before {
  content: "";
  position: absolute;
  padding-top: 2px;
  bottom: -5px; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: white; 
  transition: width 0.4s ease; 
}

.custom-underline:hover::before {
  width: 100%; 
  left: 0; 
}


/*Animations*/

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}

@keyframes highlight {
  0% {
    border: 1px solid rgba(0, 255, 255, 0.226);
  }
  50% {
    border: 1px solid rgba(0, 255, 255, 0.589);
  }
  100% {
      border: 1px solid rgb(0, 255, 255);
  }
}

.highlight {
  animation: highlight 0.2s ease-out;
}